<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Register</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid bg-info">
      <div class="container text-white text-center">
        <h1 class="display-3">Welcome</h1>
        <p class="lead"></p>
      </div>
    </div>

    <div class="container">


      <form method="POST" action="/users/register">
        <% if (errors) { %>
            <div class="alert alert-danger" role="alert">One or More Fields was not entered correctly. Please register again</div>

        <% } %>
        <div class="form-group">
          <label for="inputFirstName">First Name</label>
          <input type="text" class="form-control col-md-4" name="firstname" id="inputFirstName" placeholder="Enter First Name">
        </div>
        <div class="form-group">
          <label for="inputLastName">Last Name</label>
          <input type="text" class="form-control col-md-4" name="lastname" id="inputLastName" placeholder="Enter Last Name">
        </div>

        <div class="form-group">
         <label for="inputEmail">Email</label>
         <input type="email" class="form-control col-md-4" name="email_id" id="inputEmail" placeholder="name@example.com">
        </div>

        <div class="form-group">
         <label for="inputPassword">Password</label>
         <input type="password" class="form-control col-md-4" name="password" id="inputPassword" placeholder="Enter Password">
        </div>

        <div class="form-group">
          <label for="inputReason">Why do you want to join?</label>
          <select name="reason" id="inputReason" class="form-control col-md-4">
            <option selected>Choose...</option>
            <option>Meditation</option>
            <option>Working out</option>
            <option>Reading</option>
          </select>
        </div>

        <input type="submit" class="btn btn-primary mb-2" value="Sign Up">

      </form>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
